<main>
    @if (accounts.length > 0) { @for (account of accounts; track $index) {
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar>
                @if (account.type === "checking") { attach_money } @else if (account.type ===
                "saving") { savings } @else { credit_card }
            </mat-icon>
            <mat-card-subtitle>
                {{ account.accountName }} (créé le {{ account.dateCreated | date : "dd-MMM-YYYY" }})
            </mat-card-subtitle>
            <mat-card-title>{{ account.balance | currency : "CAD" }}</mat-card-title>
            <span class="example-spacer"></span>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="openDeleteDialog(account)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content></mat-card-content>
    </mat-card>
    } } @else {
    <p class="mat-body-1">
        Aucun compte n'existe ! Veuillez entrer au moins un compte au préalable.
    </p>
    }
</main>
